.about-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.agenda-logo {
  width: 400px;
  height: 400px;
}

.developer-card {
  border: 1px solid #ddd;
  border-radius: 10px;
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.images-section .card {
  margin-bottom: 2rem;
  height: 700px; /* Tamanho do card fixado */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Garante que a imagem ampliada não saia do card */
}

.images-section .card-img-top {
  max-width: 100%; /* Garante que a largura nunca ultrapasse o card */
  max-height: 100%; /* Garante que a altura respeite o card */
  object-fit: contain; /* Ajusta a imagem proporcionalmente, sem distorcer */
  flex-grow: 1; /* Faz com que a imagem ocupe o espaço vertical restante */
  transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

.images-section .card-img-top:hover {
  transform: scale(1.1); /* Amplia a imagem ao passar o mouse */
}

.images-section .card-body {
  text-align: center;
  background-color: #f8f9fa;
}

.images-section .card-title {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}



/* Aumentando o texto da descrição */
.about-container .lead {
  font-size: 1.5rem; /* Tamanho maior para melhorar a leitura */
  line-height: 1.8; /* Melhor espaçamento entre linhas */
  color: #333; /* Cor mais escura para maior contraste */
  margin-top: 1rem;
}
